.wrapper {
    display: flex;
//    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-top: 30px;
} 

.btn-options{
    display: flex;
    justify-content: center;
    button{
        margin-left: 2px;
    }
}
