
<h1>Livros</h1>

<fieldset class="scheduler-border">
    <form #form="ngForm" id="bookForm" (ngSubmit)="onSubmit(form)" autocomplete="off">
  <div class="row">
    <div class="col-xl-4 text-xs-center">
      <div class="mb-3">
          <input type="hidden" name="id" [(ngModel)]="service.formData.id">
          <div class="form-group">
            <label>Titulo</label>
            <input name="title" [(ngModel)]="service.formData.title" class="form-control" required maxlength="50">
          </div>
      </div>
    </div>

    <div class="col-xl-4 text-xs-center">
        <app-combo-author [(comboValue)]="service.formData.author.id"></app-combo-author>
    </div>   

    <div class="col-xl-4 text-xs-center">
        <app-combo-genre [(comboValue)]="service.formData.genre.id"></app-combo-genre>
    </div>   

    <div class="col-xl-4 text-xs-center">
      <div class="mb-3">
          <div class="form-group">
            <label>Data de Publicação</label>
            <input name="publishdate" [(ngModel)]="service.formData.publishdate" class="form-control" type="date" id="publishdate">
          </div>
      </div>
    </div>

    <div class="col-xl-4 text-xs-center">
      <div class="mb-3">
          <div class="form-group">
            <label>Saldo</label>
            <input name="stock" [(ngModel)]="service.formData.stock" class="form-control" required maxlength="50">
          </div>
      </div>
    </div>
      
    <div class="col-xl-4 text-xs-center">
        <div class="mb-3">
            <div class="wrapper">
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Salvar</button>&nbsp;&nbsp;
                <div class="btn btn-danger" (click)="resetForm()">Limpar</div>
            </div>
        </div>
      </div>
   
  </div>
</form> 
</fieldset>

<p *ngIf="!books"><em>Loading...</em></p>
<fieldset class="scheduler-border">
    <table class='table table-striped' *ngIf="books">
    <thead>
      <tr>
        <th>#</th>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Gênero</th>
        <th>Data de Publicação</th>
        <th>Saldo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ books.id }}</td>
        <td>{{ books.title }}</td>
        <td>{{ books.author.name }}</td>
        <td>{{ books.genre.name }}</td>
        <td>{{ books.publishDate }}</td>
        <td>{{ books.stock }}</td>
        <td>
            <span class="btn-options">
              <button title="Excluir" (click)="onDelete(books.id)" class="btn btn-outline-danger mb-1 btn-sm">Remover</button>
              <button title="Editar" (click)="populateForm(books)" class="btn btn-outline-info mb-1 btn-sm">Editar</button>
            </span>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
